<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @person.reason %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @person.img_url %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
